#home {
    margin:0;
    padding:0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y : hidden;
}

#home > main {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    margin: 0;
    width:100vw;
}

#home > main > section:first-of-type {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #E85B69;
}

#home > main > section:nth-of-type(2) {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #ECA45C;
}

#home > main > section:nth-of-type(3) {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #EFEC4F;
}

#home > main > section:nth-of-type(4) {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #4CEE7E;
}

#home > main > section:nth-of-type(5) {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #427CF5;
}

#home > main > section:nth-of-type(6) {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #956CAF;
}

#home > main > section{
    display: flex;
    justify-content: right;
    font-size: 8em;
}

#scrollbar {
    height: 100vh;
    width: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}
#curseur{
    height: 20px;
    width: 10px;
    background-color: black;
}
#scrollbar2 {
    height: 100vh;
    width: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}
#scrollbar3 {
    height: 100vh;
    width: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 30vh;
}
#scrollbar4 {
    height: 100vh;
    width: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 50vh;
}
#scrollbar5 {
    height: 100vh;
    width: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 70vh;
}
#scrollbar6 {
    height: 100vh;
    width: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 90vh;
}